.md-typeset table:not([class]) {
  width: 100%;
  table-layout: auto;
  display: table;
}

.md-typeset table:not([class]) img {
  max-width: 250px;
  width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.md-typeset table:not([class]) td, 
.md-typeset table:not([class]) th {
  word-break: break-word;
  padding: 0.5rem 1rem;
}

.md-typeset table:not([class]) code {
  white-space: nowrap;
  word-break: normal;
  overflow-x: auto;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.md-typeset__table {
  width: 100%;
}

.md-nav--secondary .md-nav__link {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
